<div class="slide span-24 last">
	<!-- TODO -->
	<div class="slide-image span-13">
		<img src="#">
	</div>
	
	<div class="question span-11 last">
		<% self.eachFreeformQuestion(function(q) { %>
			<div class="question freeform">
				<h2><%= q.text() %></h2>
				<p class="reference">re: <span class="point"><%= q.point().text() %></span></p>
			</div>
		<% }); %>
		
		<% self.eachClassOfShortQuestions(function(cls) { %>
			<div class="question short <%= cls.identifier() %>">
				<h2><%= cls.userVisibleOverallCountHTML() %></h2>
				<% cls.eachPoint(function(point, options) { %>
					<p class="reference">re:
						<span class="point"><%= point %></span>
						<% if (options.shouldShowCount) { %>
							<span class="point-count"><%= options.userVisibleCountHTML %></span>
						<% } %>
					</p>
				<% }); %>
			</div>
		<% }); %>
	</div>
</div>